
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="over">
	<mat-nav-list aria-label="Main navigation">
		<h2 class="sub-title">Menu</h2>
		<a mat-list-item routerLinkActive="active" routerLink="/directives/attribute">Directivas de atributo</a>
		<a mat-list-item routerLinkActive="active" routerLink="/directives/structural">Directivas estructurales</a>
		<a mat-list-item routerLinkActive="active" routerLink="/directives/custom">Directivas custom</a>
		<a mat-list-item routerLinkActive="active" routerLink="/data-binding">Data-binding</a>
		<a mat-list-item routerLinkActive="active" routerLink="/modules">Módulos</a>
		<a mat-list-item routerLinkActive="active" routerLink="/injectables">Inyectables</a>
		<a mat-list-item routerLinkActive="active" routerLink="/pipes">Pipes</a>
		<a mat-list-item routerLinkActive="active" routerLink="/material">Material</a>
		<a mat-list-item routerLinkActive="active" routerLink="/routing">Ruteo</a>
	  </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Angular Bootcamp Homework</span>
    </mat-toolbar>
	<router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>


