.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  mat-sidenav {
    width: 200px;
  }

  mat-sidenav-content{
    background-color: white;
  }

  .sub-title{
    margin-top: 20px;
    text-align: center;
  }