
<mat-nav-list aria-label="Main navigation">
    <h2 class="sub-title">Menu</h2>
    <a mat-list-item routerLinkActive="active" routerLink="/simple">Ruta Simple</a>
    <a mat-list-item routerLinkActive="active" routerLink="/lazy">Ruta Lazy Loading</a>
    <a mat-list-item routerLinkActive="active" routerLink="/blog/1">Ruta Slug 1</a>
    <a mat-list-item routerLinkActive="active" routerLink="/blog/2">Ruta Slug 2</a>
    <a mat-list-item routerLinkActive="active" routerLink="/blog/3">Ruta Slug 3</a>
</mat-nav-list>


<router-outlet></router-outlet>

